.vscode/
.mixin.out/
.probe/
crash-reports/
defaultconfigs/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
local/
logs/
moddata/
essential/
screenshots/
saves/

.curseclient
command_history.txt
emi.json
minecraftinstance.json
patchouli_data.json
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json